body {
  background-color: #301934;
}

.container.contact {
  padding: 5%;
  width: 100%;
  margin-top: 5%;
}

.contact {
  padding: 4%;
  height: auto;
}

h2 {
  margin-bottom: 35px;
  font-weight: 100;
  text-align: center;
  font-family: "Nunito";
  font-size: 60px;
}

/* .col-md-3 {
  background: #c4315f;
  padding: 4%;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  height: auto;
} */

/* #quote {
  font-size: 20px;
  margin-top: -30px;
  margin-bottom: 20px;
} */

.contact-info {
  margin-top: 10%;
  font-size: 16px;
}

.contact-info img {
  margin-top: -50px;
  margin-left: 35px;
  width: 40px;
  height: 35px;
}

.contact-info h2 {
  margin-bottom: 5%;
}

.col-md-9 {
  padding: 3%;
  border-radius: 0.9rem;
  background: rgba(22, 17, 47, 0.398);
}

.contact-form label {
  font-weight: 600;
}

.contact-form button {
  font-size: 16px;
  font-weight: 500;
  border-radius: 15px;
  border: 2px solid #5c042800;
  background-color: #c4315f;
  color: white !important;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.4s all ease;
  height: 40px;
  width: 150px;
  margin-top: 25px;
}

.column a {
  font-size: 16px;
  margin-left: 15%;
}

button:hover {
  background: #fff;
  color: #000 !important;
}

.contact-form button:focus {
  box-shadow: none;
}

@media only screen and (max-width: 768px) {
  .container.contact {
    padding: 10%;
  }

  h2 {
    font-size: 32px;
  }

  .col-md-3,
  .col-md-9 {
    padding: 5%;
  }

  .contact-form button {
    width: 120px;
    height: 40px;
    font-size: 14px;
    margin-top: 20px;
  }
}
