.home {
    background-color: #301934;
    padding: 5%; /* Adjusted padding for responsiveness */
}

img {
    margin-top: 5%; /* Adjusted margin for responsiveness */
    margin-left: 5%; /* Adjusted margin for responsiveness */
    width: 100%; /* Make the image responsive to its container */
    max-width: 400px; /* Set a maximum width for larger screens */
    height: auto; /* Maintain aspect ratio */
    border-radius: 10px;
}

.home__content {
    margin-top: 5%; /* Adjusted margin for responsiveness */
    margin-left: 5%; /* Adjusted margin for responsiveness */
    padding: 5% 0; /* Adjusted padding for responsiveness */
}

h1.home__text {
    font-size: 58px; /* Adjusted font size for responsiveness */
    letter-spacing: 1px; /* Adjusted letter spacing for responsiveness */
    color: rgba(195, 195, 226, 0.75) !important;
}

h2.home__text {
    font-size: 38px; /* Adjusted font size for responsiveness */
    line-height: 30px; /* Adjusted line height for responsiveness */
    font-weight: 100;
    font-family: cursive;
    margin-top: 50px;
}

h3.home__text {
    font-size: 35px; /* Adjusted font size for responsiveness */
    font-weight: 200;
    font-family: monospace;
    line-height: 30px; /* Adjusted line height for responsiveness */
    margin-top: 95px;

}

/* Responsive Styles */
@media only screen and (min-width: 768px) {
    img {
        max-width: 100%; /* Adjust the max-width for larger screens */
    }
}
